<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul class="top-bar-info list-inline-item pl-0 mb-0">
      <li class="list-inline-item">
        <a href="mailto:support@gmail.com"
          ><i class="icofont-support-faq mr-2"></i>support@novena.com</a
        >
      </li>
      <li class="list-inline-item">
        <i class="icofont-location-pin mr-2"></i>Address Ta-134/A, New York, USA
      </li>
    </ul>
  </body>
</html>
