<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App.Web.Mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AspNet_MVC_Cms.styles.css" asp-append-version="true" />

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Health Care Medical Html5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Novena HTML Template v1.0">

    <!-- theme meta -->
    <meta name="theme-name" content="novena" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/template/images/favicon.png" />

    <!--
    Essential stylesheets
    =====================================-->
    <link rel="stylesheet" href="~/template/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/template/plugins/icofont/icofont.min.css">
    <link rel="stylesheet" href="~/template/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="~/template/plugins/slick-carousel/slick/slick-theme.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/template/css/style.css">
</head>
<body id="top">
    <header>
        @*<partial name="_TopBar" />*@
        @await Component.InvokeAsync("Topbar")
        @await Component.InvokeAsync("Navbar")

       @* <partial name="_Header" />*@
    </header>

    @RenderBody()
    
    <partial name="_Footer" />

     <!-- 
    Essential Scripts
    =====================================-->
    <script src="~/template/plugins/jquery/jquery.js"></script>
    <script src="~/template/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/template/plugins/slick-carousel/slick/slick.min.js"></script>
    <script src="~/template/plugins/shuffle/shuffle.min.js"></script>

    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA"></script>
    <script src="~/template/plugins/google-map/gmap.js"></script>
    
    <script src="~/template/js/script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
