@model Page
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">@Model.Content</span>
                    <h1 class="text-capitalize mb-5 text-lg">@Model.Title</h1>
                </div>
            </div>
        </div>
    </div>
</section>

@if (Model.Title == "Department")
{
    @await Component.InvokeAsync("DeparmentPage")
}
@if (Model.Title == "About")
{
	@await Component.InvokeAsync("About")
}
@if (Model.Title == "Contact")
{
    @await Component.InvokeAsync("Contact")
}
@if (Model.Title == "Services")
{
    @await Component.InvokeAsync("Service")
}

