html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.groupentry{
    margin:auto;
    position:absolute;
    top:30%;
    left:34%;
    background-color: rgba(0,0,0,0.7);
    border-radius:20px;
    box-shadow: 0 15px 25px rgba(255,255,255,0.3);
}

.acontainer{
    display:flex;
    flex-wrap:wrap;
    margin:auto;

}
.acontainer xbt:hover{
    background-color:aqua;
    color:darkblue; 
    box-shadow: 0 0 5px #258cfb
}